static/src/jade/index.jade
//output:../../index.html
doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
  body(ng-app='pvalue')
    div(ui-view)
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js')
    script(src='//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
    script(type='text/javascript', src="src/ts/index.js")
    script(type='text/ng-template', id='root.html')
      include views/root.jade
    script(type='text/ng-template', id='landing.html')
      include views/landing.jade
    script(type='text/ng-template', id='login.html')
      include views/login.jade
    script(type='text/ng-template', id='register.html')
      include views/register.jade

static/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body ng-app="pvalue">
    <div ui-view></div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="src/ts/index.js"></script>
    <script type="text/ng-template" id="root.html">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button aria-label="Settings" ng-click="root.toggleSidebar()">
            <md-icon md-font-set="material-icons">menu</md-icon>
          </md-button><span flex></span>
        </div>
      </md-toolbar>
      <md-sidenav md-component-id="left">
        <md-list>
          <md-list-item ui-sref="root.landing">Home</md-list-item>
          <md-list-item ui-sref="root.login">Login</md-list-item>
          <md-list-item ui-sref="root.register">Register</md-list-item>
        </md-list>
      </md-sidenav>
      <ui-view></ui-view>
    </script>
    <script type="text/ng-template" id="landing.html">
      <div layout="row" layout-align="center stretch">
        <h1>Lorem ipsum dolor sit amet</h1>
      </div>
    </script>
    <script type="text/ng-template" id="login.html"></script>
    <script type="text/ng-template" id="register.html"></script>
  </body>
</html>
